In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#homework-module 9 - assignment 5 - retail dataset - association rule
#import dataset as dataframe
#install mixtend library to use apriori and association rule mining
#using apriori algorithm generate a list of new item frequently bought together
#generate the association rules for the given items from apriori algorithm

In [3]:
pip install apyori

Requirement already satisfied: apyori in /Users/lana-n/opt/anaconda3/lib/python3.8/site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [5]:
df = pd.read_csv('basket.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,whole milk,pastry,salty snack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sausage,whole milk,semi-finished bread,yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,soda,pickled vegetables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,canned beer,misc. beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sausage,hygiene articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(14963, 11)

In [7]:
groceries = pd.read_csv('groceries_data.csv')
groceries.head()

   Member_number        Date   itemDescription  year  month  day  day_of_week
0           1808  2015-07-21    tropical fruit  2015      7   21            1
1           2552  2015-05-01        whole milk  2015      5    1            4
2           2300  2015-09-19         pip fruit  2015      9   19            5
3           1187  2015-12-12  other vegetables  2015     12   12            5
4           3037  2015-01-02        whole milk  2015      1    2            4

In [8]:
groceries.shape

(38765, 7)

In [9]:
df.fillna('!',inplace=True)
trans = df.values.tolist()

In [10]:
for i in range(len(trans)):
    trans[i] = [x for x in trans[i] if not x=='!']

In [11]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(trans).transform(trans)
transactions = pd.DataFrame(te_ary, columns=te.columns_)

In [12]:
freq_items = apriori(transactions, min_support=0.001, use_colnames=True, verbose=1)
freq_items.head(7)

Processing 28 combinations | Sampling itemset size 4e 3

    support                 itemsets
0  0.004010  (Instant food products)
1  0.021386               (UHT-milk)
2  0.001470       (abrasive cleaner)
3  0.001938       (artif. sweetener)
4  0.008087          (baking powder)
5  0.001136       (bathroom cleaner)
6  0.033950                   (beef)

In [13]:
freq_items['length'] = freq_items['itemsets'].apply(lambda x: len(x))

In [14]:
freq_items.sort_values('length',ascending=False)

      support                                    itemsets  length
749  0.001470               (sausage, yogurt, whole milk)       3
745  0.001136           (rolls/buns, whole milk, sausage)       3
742  0.001203  (rolls/buns, whole milk, other vegetables)       3
743  0.001136        (soda, whole milk, other vegetables)       3
744  0.001136      (yogurt, whole milk, other vegetables)       3
..        ...                                         ...     ...
100  0.007819                                (pot plants)       1
99   0.037091                                      (pork)       1
98   0.003208                                   (popcorn)       1
97   0.049054                                 (pip fruit)       1
0    0.004010                     (Instant food products)       1

[750 rows x 3 columns]

In [15]:
rules = association_rules(freq_items, metric="confidence", min_threshold=0.001)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(bottled water),(UHT-milk),0.060683,0.021386,0.001069,0.017621,0.823954,-0.000228,0.996168
1,(UHT-milk),(bottled water),0.021386,0.060683,0.001069,0.050000,0.823954,-0.000228,0.988755
2,(UHT-milk),(other vegetables),0.021386,0.122101,0.002139,0.100000,0.818993,-0.000473,0.975443
3,(other vegetables),(UHT-milk),0.122101,0.021386,0.002139,0.017515,0.818993,-0.000473,0.996060
4,(rolls/buns),(UHT-milk),0.110005,0.021386,0.001804,0.016403,0.767013,-0.000548,0.994934

In [16]:
rules.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1232,"(sausage, yogurt)",(whole milk),0.005748,0.157923,0.001470,0.255814,1.619866,0.000563,1.131541
1209,"(rolls/buns, sausage)",(whole milk),0.005347,0.157923,0.001136,0.212500,1.345594,0.000292,1.069304
1226,"(sausage, soda)",(whole milk),0.005948,0.157923,0.001069,0.179775,1.138374,0.000130,1.026642
1108,(semi-finished bread),(whole milk),0.009490,0.157923,0.001671,0.176056,1.114825,0.000172,1.022008
1220,"(rolls/buns, yogurt)",(whole milk),0.007819,0.157923,0.001337,0.170940,1.082428,0.000102,1.015701
...,...,...,...,...,...,...,...,...,...
654,(whole milk),(frozen fish),0.157923,0.006817,0.001069,0.006771,0.993287,-0.000007,0.999954
958,(whole milk),(pasta),0.157923,0.008087,0.001069,0.006771,0.837316,-0.000208,0.998675
983,(whole milk),(pickled vegetables),0.157923,0.008955,0.001002,0.006348,0.708829,-0.000412,0.997376
1021,(whole milk),(pot plants),0.157923,0.007819,0.001002,0.006348,0.811821,-0.000232,0.998519
1219,(whole milk),"(rolls/buns, soda)",0.157923,0.008087,0.001002,0.006348,0.784984,-0.000275,0.998250